[class*="col-xs"]{
    border: 1px solid white;
    height: 50px;
    background-color: #006cfa;
    color: white;
}

.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-15{
    padding: 15px;
    height: auto;
}

.green{
    background-color: #00e165;
    border: 1px solid #006cfa;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

