.container{
    background-color: #006cfa;
    color: white;
}

[class*="col"]{
    border: 1px solid white;
    height: 50px;
}

.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
}